@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.app-title {
    font-family: "Nico Moji";
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}

#dh-drp:hover > #dh {
    visibility: visible;
    display: block;
}

#cl-drp:hover > #cl {
    visibility: visible;
    display: block;
}
