@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.app-title {
    font-family: "Nico Moji";
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}

#dh-drp:hover > #dh {
    visibility: visible;
    display: block;
}

#cl-drp:hover > #cl {
    visibility: visible;
    display: block;
}

.search_dropdown {
    color: rgb(35, 35, 35) !important;
    font-weight: 600 !important;
    font-size: small !important;
}

.bw-dropdown {
    color: rgb(35, 35, 35) !important;
    background-color: white !important;
    padding: 0.6rem !important;
    font-weight: 600 !important;
    border: 1px solid rgb(202, 202, 202) !important;
    box-shadow: #0000000d;
}

.bw-dropdown:focus {
    border-width: 2px !important;
    border-color: #4f46e5 !important;
}

.per_country {
    margin: 0 !important;
}

.cur_country {
    margin: 0 !important;
}
